spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mahanaim_db?serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=utf8
    username: root
    password: wls6819@!~
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jwt:
    secret:
      key: "DevMuhndvkmy/29APdym3EXyYrDuuj9cKY39OKcFki0=AgojEflbISE2u9Wp/6j3UNHT9Sph90mdJ8Bj+e1bsx8="